@import 'mixins_and_variables_and_functions';

.suggest-colors {
  padding-top: 3px;

  a {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;

    &:focus,
    &:focus:active {
      position: relative;
      z-index: 1;
      @include gl-focus;
    }
  }

  &.suggest-colors-dropdown {
    margin-top: 10px;
    margin-bottom: 10px;

    a {
      border-radius: 0;
      width: (100% / 7);
      margin-right: 0;
      margin-bottom: -5px;

      &:first-of-type {
        border-top-left-radius: $gl-border-radius-base;
      }

      &:nth-of-type(7) {
        border-top-right-radius: $gl-border-radius-base;
      }

      &:nth-last-child(7) {
        border-bottom-left-radius: $gl-border-radius-base;
      }

      &:last-of-type {
        border-bottom-right-radius: $gl-border-radius-base;
      }
    }
  }
}

.labels-select-contents-create {
  .dropdown-input {
    margin-bottom: 4px;
  }
}

.dropdown-menu-labels {
  .dropdown-content {
    max-height: 135px;
  }

  .dropdown-label-box {
    flex: 0 0 auto;
  }
}

.dropdown-new-label {
  .dropdown-content {
    max-height: initial;
  }
}

.dropdown-label-color-input {
  position: relative;
  margin-bottom: 8px;
}

.color-label {
  padding: 0 $grid-size;
  line-height: 16px;
  border-radius: $label-border-radius;
  color: $white;
}

.manage-labels-list {
  padding: 0;
  margin-bottom: 0;

  > li:not(.empty-message):not(.no-border) .label-content {
    display: flex;
    justify-content: space-between;

    .prioritized-labels:not(.is-not-draggable) & {
      cursor: grab;

      &:hover,
      &:focus-within {
        background-color: $blue-50;
      }

      &:active {
        cursor: grabbing;
      }
    }
  }

  .prepend-description-left {
    vertical-align: top;
    line-height: 24px;
  }
}

.label-list-item:not(:last-of-type) {
  border-bottom: 1px solid $border-color;
}

.prioritized-labels .add-priority,
.other-labels .remove-priority {
  display: none;
}

.label-subscription {
  width: 109px;
}

.label-actions-list {
  font-size: 0;
  list-style: none;
  flex-shrink: 0;
  text-align: right;
  padding: 0;
  position: relative;
  margin: 0;
}

.label-badge {
  color: $gray-900;
  display: inline-block;
  font-weight: $gl-font-weight-normal;
  padding: $gl-padding-4 $gl-padding-8;
  border-radius: $border-radius-default;
  font-size: $label-font-size;
}

.label-content {
  .label-name {
    width: 200px;

    .gl-label {
      line-height: $gl-line-height;
    }
  }

  .label-action {
    color: $gray-700;
    cursor: pointer;

    &:hover {
      color: $blue-600;
    }

    &.hover-red:hover {
      color: $red-500;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)-1) {
  .manage-labels-list {
    > li:not(.empty-message):not(.no-border) .label-content {
      flex-wrap: wrap;
    }

    .label-name {
      order: 1;
      flex-grow: 1;
      width: auto;
      max-width: 100%;
    }

    .label-actions-list {
      order: 2;
      flex-shrink: 1;
      text-align: left;
    }

    .label-description {
      order: 3;
    }
  }
}

.priority-labels-empty-state .svg-content img {
  max-width: $priority-label-empty-state-width;
}

.scoped-label-tooltip-title {
  color: $indigo-300;
}

.gl-label-scoped {
  box-shadow: 0 0 0 2px currentColor inset;

  &.gl-label-sm {
    box-shadow: 0 0 0 1px inset;
  }
}

/* Fix scoped label padding in cases where old markdown uses the old label structure */
.gl-label-text + .gl-label-text {
  @include gl-pl-2;
  @include gl-pr-3;
}
